---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?appid=41673c83811cd4c75275a187f7e1dfc9&q=Campinas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1603951200,"main":{"temp":294.62,"feels_like":293.1,"temp_min":293.02,"temp_max":294.62,"pressure":1010,"sea_level":1010,"grnd_level":931,"humidity":45,"temp_kf":1.6},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"clouds":{"all":1},"wind":{"speed":1.87,"deg":51},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2020-10-29
        06:00:00"},{"dt":1603962000,"main":{"temp":293.12,"feels_like":292.46,"temp_min":292.29,"temp_max":293.12,"pressure":1011,"sea_level":1011,"grnd_level":933,"humidity":55,"temp_kf":0.83},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"clouds":{"all":38},"wind":{"speed":1.27,"deg":71},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2020-10-29
        09:00:00"},{"dt":1603972800,"main":{"temp":299.73,"feels_like":300.39,"temp_[...]
