---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=41673c83811cd4c75275a187f7e1dfc9&q=New%20York
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-74.01,"lat":40.71},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"base":"stations","main":{"temp":286.64,"feels_like":285.6,"temp_min":285.37,"temp_max":288.15,"pressure":1016,"humidity":87},"visibility":10000,"wind":{"speed":2.1,"deg":260},"clouds":{"all":75},"dt":1603940260,"sys":{"type":1,"id":4610,"country":"US","sunrise":1603884130,"sunset":1603922232},"timezone":-14400,"id":5128581,"name":"New
        York","cod":200}'
  recorded_at: Thu, 29 Oct 2020 03:09:37 GMT
recorded_with: VCR 6.0.0
