---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=41673c83811cd4c75275a187f7e1dfc9&zip=10001,us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-74,"lat":40.75},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"base":"stations","main":{"temp":286.55,"feels_like":284.88,"temp_min":284.82,"temp_max":288.15,"pressure":1016,"humidity":82},"visibility":10000,"wind":{"speed":2.6,"deg":250},"clouds":{"all":90},"dt":1603940979,"sys":{"type":1,"id":5141,"country":"US","sunrise":1603884132,"sunset":1603922225},"timezone":-14400,"id":0,"name":"New
        York","cod":200}'
  recorded_at: Thu, 29 Oct 2020 03:09:39 GMT
recorded_with: VCR 6.0.0
