---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?appid=41673c83811cd4c75275a187f7e1dfc9&id=6316729
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1603951200,"main":{"temp":291.48,"feels_like":292.74,"temp_min":290.77,"temp_max":291.48,"pressure":1009,"sea_level":1009,"grnd_level":1009,"humidity":90,"temp_kf":0.71},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"clouds":{"all":1},"wind":{"speed":1.41,"deg":295},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2020-10-29
        06:00:00"},{"dt":1603962000,"main":{"temp":291.05,"feels_like":291.95,"temp_min":290.75,"temp_max":291.05,"pressure":1010,"sea_level":1010,"grnd_level":1010,"humidity":86,"temp_kf":0.3},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"clouds":{"all":64},"wind":{"speed":1.29,"deg":259},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2020-10-29
        09:00:00"},{"dt":1603972800,"main":{"temp":296.39,"feels_like":297.43,"temp_mi[...]
