---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=41673c83811cd4c75275a187f7e1dfc9&q=Campinas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-47.06,"lat":-22.91},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":297.15,"feels_like":295.83,"temp_min":297.15,"temp_max":297.15,"pressure":1011,"humidity":38},"visibility":10000,"wind":{"speed":1.5,"deg":80},"rain":{"1h":0.1},"clouds":{"all":0},"dt":1603940732,"sys":{"type":1,"id":8393,"country":"BR","sunrise":1603959873,"sunset":1604006347},"timezone":-10800,"id":3467865,"name":"Campinas","cod":200}'
  recorded_at: Thu, 29 Oct 2020 03:09:41 GMT
recorded_with: VCR 6.0.0
