---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?appid=41673c83811cd4c75275a187f7e1dfc9&q=New%20York
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1603951200,"main":{"temp":286.49,"feels_like":284.4,"temp_min":286.49,"temp_max":286.6,"pressure":1016,"sea_level":1016,"grnd_level":1014,"humidity":74,"temp_kf":-0.11},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"clouds":{"all":59},"wind":{"speed":2.61,"deg":340},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2020-10-29
        06:00:00"},{"dt":1603962000,"main":{"temp":286.27,"feels_like":283.55,"temp_min":286.24,"temp_max":286.27,"pressure":1014,"sea_level":1014,"grnd_level":1013,"humidity":63,"temp_kf":0.03},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"clouds":{"all":83},"wind":{"speed":2.64,"deg":356},"visibility":10000,"pop":0.23,"sys":{"pod":"n"},"dt_txt":"2020-10-29
        09:00:00"},{"dt":1603972800,"main":{"temp":285.17,"feels_like":282.27,"temp_min":285.09,"temp_max":285.17,"pressure":1013,"sea_level":1013,"grnd_level":1012,"humidity":67,"temp_kf":0.08},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"clouds":{"all":95},"wind":{"speed":2.86,"deg":36},"visibility":10000,"pop":0.73,"rain":{"3h":0.47},"sys":{"pod":"d"},"dt_txt":"2020-10-29
        12:00:00"},{"dt":1603983600,"main":{"temp":284.18,"feels_like":280.83,"temp_min":284.16,"temp_max":284.18,"pressure":1010,"sea_level":1010,"grnd_level":1010,"humidity":84,"temp_kf":0.02},"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"clouds":{"all":99},"wind":{"speed":4.27,"deg":77},"visibility":7229,"pop":1,"rain":{"3h":5.88},"sys":{"pod":"d"},"dt_txt":"2020-10-29
        15:00:00"},{"dt":160399[...]
