---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?appid=41673c83811cd4c75275a187f7e1dfc9&zip=10001,us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1603951200,"main":{"temp":286.35,"feels_like":284.05,"temp_min":286.35,"temp_max":286.39,"pressure":1016,"sea_level":1016,"grnd_level":1014,"humidity":68,"temp_kf":-0.04},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"clouds":{"all":49},"wind":{"speed":2.43,"deg":337},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2020-10-29
        06:00:00"},{"dt":1603962000,"main":{"temp":286.17,"feels_like":283.44,"temp_min":286.13,"temp_max":286.17,"pressure":1014,"sea_level":1014,"grnd_level":1012,"humidity":60,"temp_kf":0.04},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"clouds":{"all":79},"wind":{"speed":2.42,"deg":351},"visibility":10000,"pop":0.2,"sys":{"pod":"n"},"dt_txt":"2020-10-29
        09:00:00"},{"dt":1603972800,"main":{"temp":285.08,"feels_like":282.27,"temp_min":284.99,"temp_max":285.08,"pressure":1013,"sea_level":1013,"grnd_level":1012,"humidity":66,"temp_kf":0.09},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"clouds":{"all":94},"wind":{"speed":2.64,"deg":31},"visibility":10000,"pop":0.72,"rain":{"3h":0.44},"sys":{"pod":"d"},"dt_txt":"2020-10-29
        12:00:00"},{"dt":1603983600,"main":{"temp":284.13,"feels_like":280.98,"temp_min":284.11,"temp_max":284.13,"pressure":1010,"sea_level":1010,"grnd_level":1009,"humidity":84,"temp_kf":0.02},"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"clouds":{"all":99},"wind":{"speed":3.97,"deg":77},"visibility":7646,"pop":1,"rain":{"3h":5.5},"sys":{"pod":"d"},"dt_txt":"2020-10-29
        15:00:00"},{"dt":1603994[...]
